# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
libs/automatone-0.9.0.jar

*.pyc
generators/token/tmp/
generators/lang/TableIt.py
generators/lang/Tor/
generators/lang/out.log
